<!DOCTYPE html>
<html>
<head>
	<title>RoadTrippin</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row text-center">
					<%= image_tag "small_logo.png", :class =>"logo" %>

				</div>

				<%= yield %>

			</div>
		</div>
	</div>
</body>
</html>
